@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body {
	font-family: 'Allura', cursive !important;
	background-image: url("bg2.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height:100vh;
	width:100vw;
	overflow: hidden;
}

::selection {
	background: transparent;
}

h4 {
	font-size: 22px;
	line-height: 1px;
	font-family: 'Alex Brush', cursive !important;
}

.card {
	color: black; 
	position: absolute;
	top: 50%;
	left: 50%;
	width: 266.5px;
	height: 400px;
	background: white;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
	zoom:125%;
}

.card:hover {
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.1), 0 10px 100px rgba(0,0,0,0.2);
	left:58.5%;
	background-image: url(letter3.jpg);
	background-size: cover;

}

.card:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: white;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.card:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: white;
	transform-origin: left;
	transform: skewY(-45deg);
}

.card .imgBox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: .7s;
}

.card .bark {
	position: absolute;
	background: white;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card .imgBox img {
	min-width: 266.5px;
	max-height: 400px;
}

.card:hover .imgBox {
	transform: rotateY(-135deg);
}

.card:hover .bark {
	opacity: 1;
	transition: .6s;
  	box-shadow: 300px 200px 100px rgba(0, 0, 0, .15) inset;
}

.card .details {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 10px;
	z-index: -1;
	margin-top: 132px;
}

.card .details p {
	font-size: 17px;
	line-height: 1.10;
	padding: 0 10px 0 10px;
	white-space: pre-wrap;
}

.card .details h4 {
	text-align: center;
}

.text-right {
	text-align: right;
	margin-right: 0;

}

.text-justify {
	text-align: justify;
	padding: 0 20px 0 20px !important;
}

audio{
	display:none;
}

p{
	margin-top: 0 !important;
  	margin-bottom: 0.2em !important;
}

.small{
	font-size: 15.5px !important;
}
.medium{
	font-size: 16px !important;
}
.large{
	font-size: 17px !important;
}
.xsmall{
	font-size: 13px !important;
}

.play{
  transition: all 0.2s;
  opacity: 0.75;
  display:inline-block;
  width: 4px;
  height: 1em;
  border-right: calc(0.5em - 2px) solid white;
  border-left: calc(0.5em - 2px) solid white;
  border-top: 0;
  border-bottom: 0;
  background-color: transparent;
  cursor: pointer;
  
  &.playing{
    width: 0;
    height: 0;  
    border-right: 0;
    border-left: 1em solid white;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
  }

  .vol{
  	font-size: 18px;
  	text-align: center;
  	top:;
  }

}